.board{
    width: 100%;
    height: 80vh;
    perspective: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}